@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}
.transition {
  transition: all 0.3s ease;
}
#userInput::-webkit-outer-spin-button,
#userInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
